<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/style.css">

<body>
    <header>
        <h1>Best Books! </h1>
        <nav>
            <div id="myNav" class="overlay">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <div class="overlay-content">
                  <a href="/">HOME</a>
                  <a href="/new">Search the google API</a>
                  
                </div>
              </div>
              
              
              <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
        </nav>
        
    </header>
    <h2>Search Results</h2>
    <% book.forEach((val)=> { %>
    <div>
        <img class="bookimage" src=<%=val.image %><br>
        <p class="booktitle">Title : <%=val.title %></p>
        <p class="bookauthor">Author : <%=val.author %></p>
        <p class="bookdescp">Book Description : <%= val.description %></p>
        <form class="select" action="/add" method="post">
            <input type="hidden" name="image" value="<%=val.image %>">
            <input type="hidden" name="title" value="<%=val.title %>">
            <input type="hidden" name="author" value="<%=val.author %>">
            <input type="hidden" name="description" value="<%= val.description %>">
            <button class="select"> Select This Book </button>
        </form>
    </div>
    <% }); %>

    
    <footer>
        <p class="all">All right reserved 2020 </p>
        <p class="done">Done By : Reham AL-Sobh </p>
        
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
    <script src="/js/app.js"></script>

</body>

</html>